<!DOCTYPE html>
<html ng-app="Application">
<head>
	<title>Phonebook</title>

	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./js/main.js"></script>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body ng-controller="contactsCtrl">

	<div class="jumbotron">
		<h3>{{title}}</h3>
		
		<table class="table ">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Phone</th>
				<th>Company</th>
			</tr>
			<tr ng-repeat="contact in listContacts" ng-class="{ selected: contact.selected }">
				<td><input type="checkbox" ng-model="contact.selected"></td>
				<td>{{contact.name}}</td>
				<td>{{contact.number}}</td>
				<td>{{contact.company.name}}</td>
			</tr>
		</table>

		<hr />

		<input type="text" class="form-control" ng-model="contact.name" 	placeholder="Name" />
		<input type="text" class="form-control" ng-model="contact.number"	placeholder="Phone"/>
		<select class="form-control" ng-model="contact.company" ng-options="company.name group by company.category for company in companies">
			<option value="">Selecione uma operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="!contact.name || !contact.number">Add Contact</button>
		<button class="btn btn-danger btn-block" ng-click="removeContacts(listContacts)" ng-disabled="isSelected(listContacts)">Remove Contacts</button>
		{{contact}}
	</div>
	


</body>
</html>