<!DOCTYPE html>
<html ng-app="Application">
<head>
	<meta charset="UTF-8">
	<title>Phonebook</title>

	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./js/main.js"></script>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="./css/style.css">
</head>
<body ng-controller="contactsCtrl">

	<div class="jumbotron">
		<h3>{{title}}</h3>
		
		<table ng-show="listContacts.length > 0" class="table ">
			<tr>
				<th></th>
				<th></th>
				<th>Name</th>
				<th>Phone</th>
				<th>Company</th>
			</tr>
			<tr ng-repeat="contact in listContacts" ng-class="{ selected: contact.selected }">
				<td><input type="checkbox" ng-model="contact.selected"></td>
				<td><div style="width: 2px; height: 22px; " ng-style="{'background-color': contact.color}"></div></td>
				<td>{{contact.name}}</td>
				<td>{{contact.number}}</td>
				<td>{{contact.company.name}}</td>
			</tr>
		</table>

		<hr />

		<form name="contactForm">
			<input type="text" class="form-control" ng-model="contact.name" 	name="name" placeholder="Nome"  ng-required="true"/>
			<input type="text" class="form-control" ng-model="contact.number"	name="phone" placeholder="Telefone" ng-required="true"/>
			<select class="form-control" ng-model="contact.company" ng-options="company.name group by company.category for company in companies">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		
		<div ng-show="contactForm.name.$invalid && contactForm.name.$dirty" class="alert alert-danger">
			Prencha o campo None!
		</div>
		<div ng-show="contactForm.phone.$invalid && contactForm.phone.$dirty" class="alert alert-danger">
			Prencha o campo Telefone!
		</div>
		<button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Add Contact</button>
		<button class="btn btn-danger btn-block" ng-click="removeContacts(listContacts)" ng-if="isSelected(listContacts)">Remove Contacts</button>
		
	</div>
	
	<!-- <div ng-include="'footer.html'"></div> -->

</body>
</html>